extends _layout.pug
block locals
  - var title = "Index Page!"

block content
  h1 Index Page in Live server!
  div#react-root
  div#vue-root
  img(src="../images/icon.png")
  img(src="../images/thumbnail.jpg")

